@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
} */

body {
  min-height: 100vh;
}

html {
  background: linear-gradient(to bottom, hsl(30, 85%, 85%), hsl(330, 87%, 78%));
  background-repeat: no-repeat;
}
